.main {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

.cal-v {
  background-color: rgb(224, 243, 193);
  height: 100vh;
  width: 300px;
  border-radius: 5px 5px;
  margin: 10px;
}

.title h1 {
  text-align: center;
  color: rgb(22, 21, 22);
  text-transform: capitalize;
  margin: 50px auto;
  text-decoration: underline;
}

.container {
  height: 300px;
  width: 240px;
  margin: 0% auto;
  border: 5px rgb(76, 175, 206) solid;
  border-radius: 5%;
}

.display {
  height: 40%;
  width: auto;
  border: 1px rgb(7, 52, 66) solid;
  border-radius: 5px 5px 0px 0px;
  text-transform: uppercase;
  color: rgb(17, 116, 17);
  background-color: rgb(2, 13, 24);
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: rgb(247, 252, 249);
  font-size: 30px;
  padding-right: 5px;
  word-break: break-all;
  overflow: hidden;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  width: auto;
  border: 1px rgb(76, 175, 206) solid;
  border-radius: 0px 0px 5px 5px;
}

button {
  display: flex;
  height: 60px;
  width: 60px;
  font-size: larger;
  justify-content: space-around;
  /* text-align: justify; */
  padding: 20px 0;
  color: rgb(234, 234, 243);
  background-color: black;
}

.first-row,
.second-row {
  display: flex;
}

.third-row {
  display: flex;
  width: 100%;
}

.last-row > button {
  height: 40px;
  width: 58px;
  position: relative;
  bottom: 180px;
  left: 180px;
  justify-content: space-around;
  text-align: justify;
  padding: 10px 0;
}

body {
  background-color: rgb(49, 202, 182);
}

.radius {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
button:hover {
  color: aqua;
}

/* v2 starts here */
.main-container {
  height: 345px;
  width: 200px;
  margin: 0% auto;
  border-radius: 10px;
  background-color: rgb(247, 252, 252);
  padding-top: 20px;
}
.display-2 {
  height: 40px;
  width: 180px;
  background-color: rgb(226, 240, 235);
  color: rgb(39, 38, 27);
  margin: 10px;
  padding-right: 5px;
  border-radius: 50px;
  font-size: 33px;
  display: flex;
  justify-content: right;
  overflow-x: hidden;
}

.row > button {
  background-color: rgb(249, 250, 225);
  display: flex;
  height: 46px;
  width: 46px;
  font-size: 20px;
  border-radius: 50%;
  border-color: rgb(243, 228, 210);
  color: rgb(17, 19, 19);
  margin: 2px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.row,
.row2 {
  display: flex;
  margin: 4px auto;
}

.input {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.row2 > button {
  display: flex;
  background-color: rgb(236, 243, 243);
  color: black;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  padding-top: 10px;
  border-color: rgb(243, 228, 210);
}
.equal {
  flex-grow: 1;
  /* width: 90px; */
}
